<?xml version="1.0" encoding="UTF-8"?>

<!-- The Template core element. This element is mandatory -->
<Template xmlns="http://wirecloud.conwet.fi.upm.es/ns/template#">

    <!-- Catalog.ResourceDescription element. This element defines the core metadata of the widget -->
    <Catalog.ResourceDescription>
        <!-- Vendor: Company that distributes the widget -->
        <Vendor>cismet GmbH</Vendor>
        <!-- Name: Name of the widget -->
        <Name>crisma-worldstate-tree-widget-wirecloud</Name>
        <!-- Version: Current widget version number-->
        <!-- we include a build # to prevent caching by wirecloud -->
        <Version>1.0.0.30</Version>
        <!-- DisplayName: Name shown in the UI of the widget -->
        <DisplayName>CRISMA Worldstate Tree Widget</DisplayName>
        <!-- Author: Widget developer(s) -->
        <Author>Martin Scholl (cismet)</Author>
        <!-- Mail: Developer's email address -->
        <Mail>martin.scholl@cismet.de</Mail>
        <!-- Description: Full widget description to be shown in the catalogue -->
        <Description>This widget displays all worldstates in a tree-like manner that are available from the configured ICMM instance. Wire cloud wrapper of the Worldstate Tree Widget Angular.</Description>
        <!-- Absolute or template-relative path to the image shown in the catalogue -->
        <ImageURI>images/preview.png</ImageURI>
        <!-- Absolute or template-relative path to the image to be used in smartphones -->
        <iPhoneImageURI></iPhoneImageURI>
        <!-- Absolute or template-relative path to the widget's documentation -->
        <WikiURI>doc/index.html</WikiURI>
    </Catalog.ResourceDescription>

    <!-- Platform.Preferences element. It defines user preferences -->
    <Platform.Preferences>
        <Preference 
            name="DEBUG" 
            type="text" 
            description="Toggle debug mode" 
            label="DEBUG toggle"
            default="false"/>
        <Preference 
            name="CRISMA_DOMAIN" 
            type="text" 
            description="The CRISMA domain this widget lives in" 
            label="CRISMA domain" 
            default="CRISMA"/>
        <Preference 
            name="CRISMA_ICMM_API" 
            type="text" 
            description="The URL to the ICMM API instance" 
            label="CRISMA ICMM API" 
            default="http://crisma.cismet.de/icmm_api"/>
        <Preference 
            name="IMAGE_PATH" 
            type="text" 
            description="The URL to the images of the tree icons, may be absolute" 
            label="Tree icon image path" 
            default="./images/"/>
        <Preference 
            name="LEAF_ICON" 
            type="text" 
            description="The name to the image of the tree leaf icon, relative to IMAGE_PATH" 
            label="Tree leaf icon name" 
            default="world_leaf_16.png"/>
        <Preference 
            name="FOLDER_ICON_CLOSED" 
            type="text" 
            description="The name to the image of the tree folder icon when it is closed, relative to IMAGE_PATH" 
            label="Tree folder closed icon name" 
            default="world_16.png"/>
        <Preference 
            name="FOLDER_ICON_OPEN" 
            type="text" 
            description="The name to the image of the tree folder icon when it is open, relative to IMAGE_PATH" 
            label="Tree folder open icon name" 
            default="world_16.png"/>
        <Preference 
            name="MULTI_SELECT" 
            type="text" 
            description="If the tree enables multi selection or not, true or false" 
            label="Tree multi selection enable" 
            default="true"/>
        <Preference 
            name="OPEN_FOLDER_ON_CLICK" 
            type="text" 
            description="If folders shall be opened/closed on click, true or false" 
            label="Folder open/close on click enable" 
            default="false"/>
    </Platform.Preferences>

    <!-- Platform.StateProperties element. It defines user preferences -->
    <Platform.StateProperties>
    </Platform.StateProperties>

    <!-- Platform.Wiring element. It defines both the widget inputs and outputs -->
    <Platform.Wiring>
        <InputEndpoint
            name="setSelectedWorldstates"
            type="text"
            label="Select worldstates"
            description="Let's other widgets select specific worldstates. The text has to be an array of worldstate ids only so every widget has to agree on a single ICMS instance"
            friendcode="selectedWorldstates"/>
        <InputEndpoint
            name="setActiveWorldstate"
            type="text"
            label="Activate Worldstate"
            description="Let's other widgets select a specific active worldstate. The text has to be a simple worldstate id only so every widget has to agree on a single ICMS instance"
            friendcode="activeWorldstate"/>
        <OutputEndpoint
            name="getSelectedWorldstates"
            type="text"
            label="Get the currently selected worldstates"
            description="Let's other widgets know which worldstate is selected. The text is an array of worldstate ids only so every widget has to agree on a single ICMS instance"
            friendcode="selectedWorldstates"/>
        <OutputEndpoint
            name="getActiveWorldstate"
            type="text"
            label="Get the currently active worldstate"
            description="Let's other widgets know which worldstate is active. The text is a simple worldstate id only so every widget has to agree on a single ICMS instance"
            friendcode="activeWorldstate"/>
    </Platform.Wiring>

    <!-- Platform.Link element. It binds the template with the actual widget's source code. -->
    <Platform.Link>
        <!-- XHTML element. It has the href attribute that links to the source code of the widget. -->
        <!--                contenttype and cacheable attributes are optional -->
        <XHTML href="index.html"/>

    </Platform.Link>

    <!-- Platform.Rendering element. It specifies the default width and height of the widget -->
    <Platform.Rendering width="5" height="22"/>

</Template>
